
Platformer/.vs/Development/v16/.suo
Platformer/.vs/Development/v16/Browse.VC.db
Platformer/.vs/Development/v16/Browse.VC.opendb
Platformer/Build/Debug/Game.exe
Platformer/Build/Debug/Game.ilk
Platformer/Build/Debug/Game.pdb
Platformer/Build/Debug/Obj/App.obj
Platformer/Build/Debug/Obj/Audio.obj
Platformer/Build/Debug/Obj/Game.log
Platformer/Build/Debug/Obj/Game.tlog/CL.read.1.tlog
Platformer/Build/Debug/Obj/Game.tlog/CL.write.1.tlog
Platformer/Build/Debug/Obj/Game.tlog/Game.lastbuildstate
Platformer/Build/Debug/Obj/Game.tlog/link.read.1.tlog
Platformer/Build/Debug/Obj/Game.tlog/link.write.1.tlog
Platformer/Build/Debug/Obj/Input.obj
Platformer/Build/Debug/Obj/Log.obj
Platformer/Build/Debug/Obj/Main.obj
Platformer/Build/Debug/Obj/Map.obj
Platformer/Build/Debug/Obj/Player.obj
Platformer/Build/Debug/Obj/pugixml.obj
Platformer/Build/Debug/Obj/Render.obj
Platformer/Build/Debug/Obj/Scene.obj
Platformer/Build/Debug/Obj/Textures.obj
Platformer/Build/Debug/Obj/vc142.idb
Platformer/Build/Debug/Obj/vc142.pdb
Platformer/Build/Debug/Obj/Window.obj
Platformer/.vs/Development/v16/Browse.VC.db
